*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #1d2630;
}

h2{
    color: #fff;
    font-size: 50px;
    padding: 50px 0;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section{
    display: flex;
    gap: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}

.section input{
    outline: none;
    border: none;
    width: 500px;
    height: 10px;
    padding: 20px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
}

.section label{
    color: #fff;
}

.btn{
    background-color: green;
}
.btns{
    width: 90px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
}

.table{
    width: 1020px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;

}
.table thead{
    color: #fff;
}

.table th{
    padding: 10px;
}

.table td{
    padding: 10px;
}

.btnD{
    background-color: red;
}

.btnE{
    background-color: orange;
    margin-left: 10px;
}

.btnU{
    background-color: blue;
}