body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayFlex{
    display: flex;
    gap: 10px;
}

#countLabel{
    font-size: 50px;
}

#decraseBtn,
#resetBtn,
#increase{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}